<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" pInputText class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <p-inputNumber [showButtons]="true" inputId="amount" ></p-inputNumber>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
          <button pButton class="p-button-success" type="submit" label="Add"></button>
          <button pButton class="p-button-danger" type="button" label="Delete"></button>
          <button pButton type="button" label="Clear"></button>
        </div>
      </div>
    </form>
  </div>
</div>
